extends ../partials/admin
block main
  input.display-none#project-json(type='text' value=JSON.stringify(project))
  .new-project-form
    .new-project-form-title= project.name
    .new-project-form-subtitle Edit the project and save.
    .new-project-form-title General Information
    .project-inputs-outer-wrapper
      .each-project-input-wrapper
        .new-project-form-input-title.required-input Language
        input.new-project-form-input#language-input(type='text' value=project.language placeholder='Allowed Values: en, tr, ru' autofocus)
      .each-project-input-wrapper
        .new-project-form-input-title.required-input Name
        input.new-project-form-input#name-input(type='text' value=project.name placeholder='Project name')
      .each-project-input-wrapper#image-input-wrapper
        .new-project-form-input-title.required-input Image
        .image-input-outer-wrapper
          .image-input-wrapper
            img.image-input-wrapper-image(src=project.image)
            i.delete-image-button.fas.fa-times
      .each-project-input-wrapper
        .new-project-form-input-title.required-input Description
        input.new-project-form-input#description-input(type='text' value=project.description placeholder='Project description')
      .each-project-input-wrapper
        .new-project-form-input-title.required-input Dates
        input.new-project-form-input#dates-input(type='text' value=project.dates placeholder='Project dates')
      .each-project-input-wrapper
        .new-project-form-input-title.required-input Reward
        input.new-project-form-input#reward-input(type='text' value=project.reward placeholder='Project reward')
      .each-project-input-wrapper
        .new-project-form-input-title.required-input Status
        input.new-project-form-input#status-input(type='text' value=project.status placeholder='Allowed Values: active, upcoming, ended')
      .each-project-input-wrapper
        .new-project-form-input-title.required-input Popularity
        input.new-project-form-input#popularity-input(type='text' value=project.popularity placeholder='Allowed Values: low, medium, high')
      .each-project-input-wrapper
        .new-project-form-input-title Stake URL
        input.new-project-form-input#stake-url-input(type='text' value=project.stake_url placeholder='Enter only if the project is stakable')
      .each-project-input-wrapper
        .new-project-form-input-title Get Involved URL
        input.new-project-form-input#get-involved-url-input(type='text' value=project.get_involved_url placeholder='Optional. Project web-site, discord link, or such')
    .new-project-form-title Project Guide
    .new-project-form-subtitle Items you add below will be created in the order shown. Click enter to add a new one.
    .project-guide-items-wrapper.drag-and-drop-wrapper
      each item in project.guide
        .guide-item-outer-wrapper
          if item.type == 'image'
            .guide-image(style=`background-image: url(${item.content})`)
          else
            div(class=`guide-${item.type}`)= item.content
          i.guide-item-delete-button.fas.fa-trash-alt
    .add-new-guide-item-button
      .new-guide-item-type-selection-button
        .new-guide-item-type-selected
          span Title
          i.fas.fa-chevron-down
        each type in guide_type_values
          .each-new-guide-item-type= type.substring(0, 1).toUpperCase() + type.substring(1)

      input.new-guide-item-text-input#new-guide-item-text-input.new-project-form-input(type='text' placeholder='Enter the title')
    .new-project-form-title Project Requirements
    .new-project-form-subtitle Items you add below will be created in order. Click enter to add a new one.
    .project-requirements-wrapper
      each requirement in project.requirements
        .each-project-requirement
          i.each-project-requirement-delete-button.fas.fa-trash-alt
          .each-project-requirement-content-wrapper
            .each-project-requirement-name= requirement.name
            .each-project-requirement-seperator :
            .each-project-requirement-value= requirement.content
      .add-new-requirement-form
        input.new-requirement-name-input#new-requirement-name-input(type='text' placeholder='Enter the name of the requirement')
        textarea.new-requirement-value-input#new-requirement-value-input(placeholder='Enter the value of the requirement')
        .new-requirement-add-button Add Requirement
    .new-project-buttons-line
      .new-project-back-button#edit-project-back-button Cancel
      .new-project-create-button#edit-project-save-button Save
    .new-project-error#new-project-form-error
