doctype html
html(lang="en")
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0")
    if title
      title node101 | #{title}
    else
      title node101
    link(href="https://fonts.googleapis.com/css?family=Nunito+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet")
    if includes
      if includes.external
        if includes.external.css
          each file_name in includes.external.css
            if file_name == 'page'
              link(rel='stylesheet' href=`/css/${page}.css`)
            else if file_name == 'fontawesome'
              link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css' integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
            else
              link(rel='stylesheet' href=`/css/general/${file_name}.css`)
        if includes.external.js
          each file_name in includes.external.js
            if file_name == 'page'
              script(src=`/js/${page}.js`)
            else
              script(src=`/js/functions/${file_name}.js`)
      if includes.meta
        meta(property='og:type' content='website')
        if includes.meta.author
          meta(name='author' content=includes.meta.author)
        if includes.meta.description
          meta(name='description' content=includes.meta.description)
        if includes.meta.image
          meta(property='og:image' content=includes.meta.image)
          meta(property='og:image:secure_url' content=includes.meta.image)
          meta(property='og:image:type' content='image/jpeg')
          meta(property='og:image:alt' content=includes.meta.description)
        if includes.meta.keywords
          meta(name='keywords' content=includes.meta.keywords)
        if includes.meta.title
          meta(property='og:title' content=includes.meta.title)
    body
    block content
