extends ../partials/header
block main
  input.display-none#project-json(type='text' value=JSON.stringify(project))
  .project-info-wrapper
    .project-logo(style=`background-image: url(${project.image})`)
    .project-name= project.name
    .project-links-wrapper
  each description in project.description.split('\n')
    .project-description
      each text, i in description.split(' ')
        if text.includes('{')
          a(href=text.substring(text.indexOf('{')+1, text.indexOf('}')) target='_blank')= text.substring(0, text.indexOf('{'))
        else
          span= (i > 0 && description.split(' ')[i-1].includes('{') ? ' ' : '') + text + ' '
  if project.requirements && project.requirements.length
    .project-title-wrapper
      .project-title= __('Requirements')
      .project-title-info= __('Contact our team if you are not sure if your device meet the requirements.')
    .project-requirements-wrapper
      each requirement in project.requirements
        .each-project-requirement
          .each-project-requirement-name= requirement.name
          .each-project-requirement-seperator :
          .each-project-requirement-value= requirement.content
  if project.guide && project.guide.length
    .project-title-wrapper
      .project-title= __('Guide')
      .project-title-info= __('Follow these steps in order. Feel free to contact our team whenever you need.')
    .project-guide-wrapper
      each item in project.guide
        if item.type == 'image'
          .guide-image(style=`background-image: url(${item.content})`)
        else if item.type == 'code'
          .guide-code
            .guide-code-lines-wrapper
              each par in item.content.split('\n').filter(each => each.trim().length)
                .guide-code-line= par
        else if item.type == 'info'
          each par in item.content.split('\n').filter(each => each.trim().length)
            .guide-info-wrapper
              .guide-info-sign !
              div(class='guide-' + item.type)
                each text, i in par.split(' ')
                  if text.includes('{')
                    a(href=text.substring(text.indexOf('{')+1, text.indexOf('}')) target='_blank')= text.substring(0, text.indexOf('{'))
                  else
                    span= (i > 0 && par.split(' ')[i-1].includes('{') ? ' ' : '') + text + ' '
        else
          each par in item.content.split('\n').filter(each => each.trim().length)
            div(class='guide-' + item.type)
              each text in par.split(' ')
                if text.includes('{')
                  a(href=text.substring(text.indexOf('{')+1, text.indexOf('}')) target='_blank')= text.substring(0, text.indexOf('{'))
                else
                  span= (i > 0 && par.split(' ')[i-1].includes('{') ? ' ' : '') + text + ' '
